/*  Basic Reset  */

/* This CSS code is a basic reset that removes default margin and padding from all elements 
set by browsers, and sets the box-sizing property to border-box. This ensures that the width and height of elements include padding and borders, making it easier to manage layout and spacing in your CSS. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* box-sizing: content-box;  = total width = width + padding + border
     box-sizing: border-box;   = total width = width (includes padding and border) */
}

body {
  background: #f5efe6;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
  font-family: cursive;
}

.container {
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 600px;
  overflow: hidden;
}

/* SCREENS */
.screen {
  display: none;
  padding: 2rem;
  text-align: center;
}

.screen.active {
  display: block;
}

/* START SCREEN */
#start-screen h1 {
  color: #e86a33;
  font-size: 2.5rem;
  margin-bottom: 1.25rem; /* 20px = 1.25rem */
}

.quiz-header {
  margin-bottom: 2rem;
}
#question-text {
  color: #e20808;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  line-height: 1.4rem;
}

.quiz-info {
  display: flex;
  justify-content: space-between; /*  space-between: 1st item is at the start, last item is at the end, */
  margin-bottom: 0.625rem; /* 10px = 0.625rem */
  color: #666; /* red*/
}

.answer-container {
  display: flex;
  flex-direction: column;
  gap: 0.625rem; /* 10px = 0.625rem */
  margin-bottom: 1.563rem; /* 25px = 1.563rem */
}

.answer-btn {
  background-color: #f8f0e5; /* red*/
  color: #333; /*text color*/
  border: 2px solid #eadbc8;
  padding: 1px;
  cursor: pointer;
  text-align: left;
  transition: all 0.3s ease;
}

.answer-btn:hover {
  background-color: #e86a33;
  color: #fff;
  border-color: #e86a33;
}

.answer-btn.correct {
  background-color: #4caf50;
  color: #fff;
  border-color: #4caf50;
}

.answer-btn.incorrect {
  background-color: #f44336;
  color: #fff;
  border-color: #f44336;
}

.progress-bar {
  background-color: #e0e0e0;
  border-radius: 5px;
  height: 10px;
  overflow: hidden;
}
