/*  Basic Reset  */

/* This CSS code is a basic reset that removes default margin and padding from all elements 
set by browsers, and sets the box-sizing property to border-box. This ensures that the width and height of elements include padding and borders, making it easier to manage layout and spacing in your CSS. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* box-sizing: content-box;  = total width = width + padding + border
     box-sizing: border-box;   = total width = width (includes padding and border) */
}

body {
  background: #f5efe6;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
  font-family: cursive;
}

.container {
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 600px;
  overflow: hidden;
}

/* SCREENS */
.screen {
  display: none;
  padding: 2rem;
  text-align: center;
}

.screen.active {
  display: block;
}
